In [7]:
import pandas as pd
import numpy as np
from AnnulusDimension import annulus_dimensions
display(pd.DataFrame.from_dict(annulus_dimensions,orient='index'))

                        0         1         2
N_rads        2686.061719    rads/s       NaN
N_rev          427.500000     rev/s       NaN
U_t            347.516163       m/s       NaN
C_a            170.131324       m/s       NaN
inlet_radii      0.051751  0.090564  0.129378
outlet_radii     0.110233  0.119805  0.129378

In [10]:
print(annulus_dimensions['N_rev'][0]*2*np.pi*annulus_dimensions['inlet_radii'][-1])

347.5161634302797